name: Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag/version'
        required: true
        default: '1.0.0'
      action_tag:
        description: 'create tag ("no" to skip)'
        required: true
        default: 'yes'
jobs:
  release_roku:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main

    - name: Install bsc
      run: make install-bsc

    - name: Build Artifacts
      run: make archive

    - name: Install SDK on the sample app 
      working-directory: ./sample/simple-videoplayer-channel
       run: make install-sdk

    - name: Build Roku SDK with the sample app
      working-directory: ./sample/simple-videoplayer-channel
      run: make build

    - name: Check version
      run: |
        set -eo pipefail
        echo Target version: ${{ github.event.inputs.tag }}
        make check-version VERSION=${{ github.event.inputs.tag }}

    - name: Create GH Release
      id: create_release
      uses: release-drafter/release-drafter@v5
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      with:
        name: v${{ github.event.inputs.tag }}
        tag: ${{ github.event.inputs.tag }}
        version: ${{ github.event.inputs.tag }}
        publish: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload - AEP Roku SDK
      uses: actions/upload-release-asset@v1
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./out/AEPRoku.zip
        asset_name: AEPRokuSDK-${{ github.event.inputs.tag }}.zip
        asset_content_type: application/zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Upload - Sample channel
      uses: actions/upload-release-asset@v1
      if: ${{ github.event.inputs.action_tag == 'yes' }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./sample/simple-videoplayer-channel/out/simple-videoplayer-channel.zip
        asset_name: Sample-channel-${{ github.event.inputs.tag }}.zip
        asset_content_type: application/zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
